---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import PrimerSeparador from "../components/PrimerSeparador.astro";
import Nosotros from "../components/Nosotros.astro";
import Especializaciones from "../components/Especializaciones.astro";
import TercerSeparador from "../components/TercerSeparador.astro";
import NosotrosTercerSeparador from "../components/NosotrosTercerSeparador.astro";
---

<Layout>
    <main class="overflow-hidden ">
        <Hero />
        <PrimerSeparador/>
        <Nosotros/>
        <NosotrosTercerSeparador/>
        <Especializaciones/>
        <TercerSeparador/>
    </main>
    
</Layout>


