---
import Layout from "../layouts/Layout.astro";
import NosotrosPrimerSeparador from "../components/NosotrosPrimerSeparador.astro";
import Filosofia from "../components/Filosofia.astro";
import NosotrosSegundoSeparador from "../components/NosotrosSegundoSeparador.astro";
import Equipo from "../components/Equipo.astro";
import NosotrosTercerSeparador from "../components/NosotrosTercerSeparador.astro";
import SeccionMapa from "../components/SeccionMapa.astro";
import NosotrosCuartoSeparador from "../components/NosotrosCuartoSeparador.astro";
import HeroNosotros from "../components/HeroNosotros.astro";
import Especializaciones from "../components/Especializaciones.astro";
---

<Layout>
    <main class="overflow-hidden">
        <HeroNosotros />
        <NosotrosPrimerSeparador />
        <Filosofia />
        <NosotrosSegundoSeparador />
        <Equipo />
        <NosotrosTercerSeparador />
        <Especializaciones />
        <SeccionMapa />
        <NosotrosCuartoSeparador />
    </main>
</Layout>
