---
import Especializacion from "./Especializacion";
---

<div class="px-4 flex flex-col py-20">
    <div class="gap-8 w-full flex flex-col justify-center items-center">
        <div class="flex flex-col gap-8 duration-1000 fadeInDownOnScroll translate-y-[-3rem] opacity-0">
            <h2
                class="text-5xl text-gray-100 text-center">
                Nuestra experiencia nos avala
            </h2>
            <p
                class="max-lg:px-8 text-xl text-gray-100 text-center max-w-4xl">
                En Abogados RCG, contamos con una sólida trayectoria en
                distintas áreas del derecho. Nuestro compromiso y experiencia
                nos permiten ofrecerle asesoramiento especializado y soluciones
                eficaces para cada caso. Descubra nuestras principales áreas de
                práctica y cómo podemos ayudarle.
            </p>
        </div>

        <div class="overflow-hidden grid grid-cols-2 max-lg:grid-cols-1 gap-12 w-9/12 lg:aspect-[4/3]">
            <div
                class="overflow-hidden min-h-60 relative flex items-end p-4 translate-x-[-5rem] opacity-0 fadeInRightOnScroll duration-1000">
                <Especializacion
                    imageRoute="reunion.jpg"
                    title="Laboral"
                    text="Defendemos sus derechos en el ámbito laboral, tanto si usted es un trabajador como si es empresario, asesorándole en casos de despidos, incumplimientos, reclamaciones salariales, acoso laboral y otros conflictos en el ámbito de las relaciones laborales. Le ayudamos a proteger sus derechos laborales y a obtener la mejor solución para su caso."
                />
            </div>
            <div
                class="overflow-hidden min-h-60 relative flex items-end p-4 translate-x-20 opacity-0 fadeInLeftOnScroll duration-1000">
                <Especializacion
                    imageRoute="family.jpg"
                    title="Civil"
                    text="Le acompañamos en asuntos civiles tales como la gestión de herencias y contratos, indemnizaciones de tráfico, arrendamientos, propiedad horizontal, reclamaciones de cantidad, derecho de familia, procedimientos de divorcio, custodias y pensiones alimenticias, etc. Nuestro equipo trabaja con sensibilidad y compromiso para proteger sus intereses y los de su familia."
                />
            </div>
            <div
                class="overflow-hidden min-h-60 relative flex items-end p-4 translate-x-[-5rem] opacity-0 fadeInRightOnScroll duration-1000">
                <Especializacion
                    imageRoute={"papeles.jpg"}
                    title="Administrativo"
                    text="Si necesita asesoramiento frente a la administración pública, le asistimos en procedimientos administrativos, licencias, recursos y sanciones. Si ha recibido una multa y considera que es injusta, le ayudamos a presentar alegaciones y recursos para su anulación o reducción. Analizamos cada caso con detalle para defender sus derechos y evitar sanciones innecesarias. Nos aseguramos de que sus derechos sean respetados y de que obtenga una respuesta eficaz ante cualquier trámite o reclamación."
                />
            </div>
            <div
                class="overflow-hidden min-h-60 relative flex items-end p-4 translate-x-20 opacity-0 fadeInLeftOnScroll duration-1000">
                <Especializacion
                    imageRoute={"carkeys.jpg"}
                    title="Penal"
                    text="Le asistiremos en cualquier fase del procedimiento penal, ya sea como perjudicado o investigado: lesiones, estafas, delitos contra el patrimonio, alcoholemias, delitos contra el honor, delitos leves y, en definitiva, ante cualquier problema."
                />
            </div>
        </div>
    </div>
</div>
