---
import { Image } from "astro:assets";
import Papeles from "../assets/papeles.jpg";
---

<div class="flex w-full overflow-hidden">
    <div class="w-1/2 flex justify-center py-8">
        <div
            class="gap-3 w-5/6 flex flex-col justify-center items-start text-center opacity-0 translate-x-[-5rem] ease duration-1000 fadeInRightOnScroll">
            <h2 class="text-5xl text-gray-100 text-left">Nuestra Filosofía</h2>
            <p class="text-xl text-gray-100 text-left">
                Creemos que el acceso a una defensa legal de calidad no es un
                privilegio, sino un derecho fundamental. Cada caso que
                gestionamos está orientado a ofrecer soluciones eficaces,
                respaldadas por un profundo conocimiento jurídico y un
                compromiso absoluto con nuestros clientes.
            </p>
            <br />
            <h3 class="text-3xl text-gray-100 text-left">En Abogados RCG:</h3>
            <ul class="text-xl text-gray-100 text-left list-disc ml-5">
                <li>
                    Contamos con un equipo de profesionales con amplia
                    experiencia y formación especializada en diversas áreas del
                    derecho.
                </li>
                <li>
                    Brindamos un asesoramiento legal claro y transparente,
                    adaptado a sus necesidades específicas.
                </li>
                <li>
                    Creamos un entorno de confianza y cercanía, donde cada
                    cliente recibe la atención personalizada que merece.
                </li>
            </ul>
        </div>
    </div>
    <Image
        class="w-1/2 object-cover transition-all opacity-0 translate-x-20 duration-1000 ease fadeInLeftOnScroll"
        src={Papeles}
        alt="Pluma estilográfica"
    />
</div>
