---
import { Image } from "astro:assets";
import Logo from "../assets/Logo AbogadosRCG.png";
import Button from "./Button";

const links = [
    { text: "Aviso Legal", href: "/aviso-legal" },
    { text: "Política de Privacidad", href: "/politica-de-privacidad" },
    { text: "Política de Cookies", href: "/politica-de-cookies" },
    { text: "Términos y Condiciones de Uso", href: "/terminos-condiciones" },
    { text: "Accesibilidad", href: "/accesibilidad" },
];
---

<div class="overflow-hidden flex justify-center bg-white pt-10 text-center text-main-gold">
    <div class="w-9/12 grid grid-cols-3 grid-rows-2 max-md:grid-cols-1 max-md:grid-rows-[repeat(6,auto)] gap-4 px-auto">
        <div class="max-md:order-2 p-4 flex flex-col justify-center items-center gap-2">
            <h4 class="text-3xl">Síganos en Redes Sociales</h4>
            <a
                href="https://www.facebook.com/people/RCG-Abogados/100068231351393/?ref=hl"
                target="_blank">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="#713f12"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path
                        d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z"
                    ></path></svg
                >
            </a>
        </div>
        <div
            class="p-4 col-span-1 md:row-span-2 max-md:order-1 group relative flex flex-col justify-center gap-6 items-center">
            <a href="/"
                ><Image
                    loading="eager"
                    src={Logo}
                    alt="RCG Logo"
                    width="460"
                    class="!w-72 mx-auto"
                />
            </a>

            <Button type="highlight">
                <a href="/contacto">Reserve su cita</a>
            </Button>
        </div>
        <div class="max-md:order-3 p-4 flex flex-col justify-center items-center gap-2">
            <h4 class="text-3xl">Contáctenos</h4>
            <a href="tel:956383484" class="text-xl max-w-4xl font-medium"
                >956 38 34 84</a
            >
            <a
                href="mailto:raul@abogadosrcg.com"
                class="text-xl max-w-4xl font-medium">raul@abogadosrcg.com</a
            >
            <a
                href="mailto:alberto@abogadosrcg.com"
                class="text-xl max-w-4xl font-medium">alberto@abogadosrcg.com</a
            >
        </div>
        <div class="max-md:order-4 p-4 flex flex-col justify-center items-center gap-2">
            <a href="https://maps.app.goo.gl/KMAoddNjNDMHMQsj9" target="_blank">
                <h4 class="text-3xl">Ubicación</h4>
                <p class="text-xl max-w-4xl font-medium">
                    Avenida Nao Victoria, Edificio Arroyo San Juan (esquina
                    Calle Diego Jiménez), 2ª Planta, Puerta 9.
                </p>
            </a>
        </div>
        <div class="max-md:order-5 p-4 flex flex-col justify-center items-center gap-2">
            <h4 class="text-3xl">Horarios</h4>
            <p class="text-xl max-w-4xl font-medium">
                Lunes a Viernes <br /> 10:00 a 13:30 y 17:00 a 20:00
            </p>
        </div>
        <div class="max-md:order-6 border-t md:col-span-3 row-span-1 text-md flex justify-center py-8">
            <ul
                class="flex flex-wrap justify-center items-center text-gray-600">
                {
                    links.map((link, index) => (
                        <li class="flex items-center">
                            <a
                                href={link.href}
                                class="px-2 hover:text-gray-900 transition duration-300">
                                {link.text}
                            </a>
                            {index < links.length - 1 && (
                                <span class="text-gray-400">|</span>
                            )}
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</div>
