---
import Button from "./Button";
import { Image } from "astro:assets";
import Logo from "../assets/Logo AbogadosRCG.png";
---

<header
    class="flex justify-center items-center bg-white shadow-md z-50 fixed w-full h-16 px-10 transition-all animate-headerAnimation">
    <!-- Logo -->
    <a href="/" class="group relative inline-block">
        <Image
            loading="eager"
            src={Logo}
            alt="RCG Logo"
            width="220"
            class="!w-40 transition-all group-hover:scale-105 group-hover:brightness-110 group-hover:shadow-[0_0_10px_2px_rgba(0,0,0,.1)]"
        />
    </a>

    <!-- Menu Navegacion -->
    <nav class="flex justify-end w-full">
        <!-- Menu -->
        <div
            id="menu"
            class="max-md:py-4 max-md:flex max-md:flex-col max-md:opacity-0 max-md:pointer-events-none max-md:max-h-0 max-md:overflow-hidden max-md:rounded-b-md max-md:absolute max-md:top-13 max-md:left-0 transition-all duration-500 bg-white px-6 w-full items-center z-40">
            <ul
                id="ulist"
                class="flex max-md:flex-col w-full justify-end gap-2 text-lg font-medium items-center">
                <li
                    class="whitespace-nowrap md:after:content-['|'] md:after:relative md:after:-top-[2px]">
                    <Button type="text-only">
                        <a href="/">
                            INICIO
                        </a>
                    </Button>
                </li>
                <li
                    class="whitespace-nowrap md:after:content-['|'] md:after:relative md:after:-top-[2px]">
                    <Button type="text-only">
                        <a href="/nosotros">
                            NOSOTROS
                        </a>
                    </Button>
                </li>
                <li class="whitespace-nowrap">
                    <Button type="text-only">
                        <a href="/contacto">
                            CONTACTO
                        </a>
                    </Button>
                </li>
                <li class="ml-4 whitespace-nowrap">
                    <Button type="highlight">
                        <a href="/contacto">CONSÚLTENOS</a
                        >
                    </Button>
                </li>
            </ul>
        </div>
        <!-- Boton Hamburguesa -->
        <button
            title="menu-toggle"
            id="menu-toggle"
            class="flex justify-center md:hidden p-2 rounded-md focus:outline-none">
            <svg
                class="w-8 h-8 text-gray-800"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </nav>
</header>

<script>
    window.addEventListener("scroll", () => {
        document
            .querySelector("header")
            ?.classList.toggle("scrolled", window.scrollY > 50);
    });

    document.addEventListener("DOMContentLoaded", () => {
        const toggleButton = document.getElementById("menu-toggle");
        const menu = document.getElementById("menu");

        toggleButton?.addEventListener("click", (e) => {
            e.stopPropagation();

            const isOpen = menu?.classList.contains("max-md:opacity-100");

            menu?.classList.toggle("max-md:opacity-0", isOpen);
            menu?.classList.toggle("max-md:pointer-events-none", isOpen);
            menu?.classList.toggle("max-md:max-h-0", isOpen);
            menu?.classList.toggle("max-md:opacity-100", !isOpen);
            menu?.classList.toggle("max-md:pointer-events-auto", !isOpen);
            menu?.classList.toggle("max-md:max-h-[200px]", !isOpen); // suficiente altura
        });

        // Evitar cierre al hacer clic dentro
        menu?.addEventListener("click", (e) => {
            e.stopPropagation();
        });

        // Cerrar si se hace clic fuera
        document.addEventListener("click", () => {
            menu?.classList.add(
                "max-md:opacity-0",
                "max-md:pointer-events-none",
                "max-md:max-h-0"
            );
            menu?.classList.remove(
                "max-md:opacity-100",
                "max-md:pointer-events-auto",
                "max-md:max-h-[200px]"
            );
        });
    });
</script>

<style>
    .scrolled {
        height: 3.5rem;
        margin-top: -5px;
        padding-top: 5px;
        opacity: 0.95;
        transition: all 0.5s ease;
    }
</style>
