---
import LogoSVG from "/public/AbogadosRCG-Logo.svg";
import LettersSVG from "/public/AbogadosRCG-Letters.svg";
---

<div class="h-full flex flex-col w-full">
    <div class="h-full flex justify-center w-full">
        <section
            class="gap-6 w-full md:pt-[10%] relative h-screen flex items-center text-white text-center flex-col justify-center p-4">
            <div
                class="gap-0 flex flex-col justify-center items-center animate-fadeIn">
                <LogoSVG fill="#dbeafe" width={150} height={150} />
                <LettersSVG fill="#dbeafe" width={500} height={100} />
            </div>
            <h1
                class="opacity-0 text-4xl text-gray-100 md:w-3/5 w-full animate-delayedFadeInDown">
                Conozca Abogados RCG, su Despacho de Confianza en Sanlúcar de
                Barrameda
            </h1>
            <div
                class="absolute inset-0 w-full h-full bg-cover bg-center opacity-30 -z-10 bg-[url('/biblioteca.jpg')] transition-all animate-backgroundFadeIn">
            </div>
        </section>
    </div>
</div>
