---
import Button from "../components/Button";
import { Image } from "astro:assets";
import Ficheros from "../assets/ficheros.jpg";
---

<div class="flex w-full overflow-hidden">
    <div class="w-1/2 flex justify-center py-8">
        <div
            class="w-5/6 flex flex-col justify-center items-center text-center opacity-0 translate-x-[-5rem] ease duration-1000 fadeInRightOnScroll">
            <h2 class="text-5xl text-gray-100 text-center">Nosotros</h2>
            <br />
            <p class="text-xl text-gray-100 text-center">
                Ubicados en Sanlúcar de Barrameda, en Avenida Nao
                Victoria, en Abogados RCG le ofrecemos un servicio jurídico
                profesional y cercano, respaldado por años de experiencia y un
                firme compromiso con la defensa de sus derechos.
            </p>
            <br />
            <p class="text-xl text-gray-100 text-center">
                Con la ayuda de nuestro equipo, podrá recibir asesoramiento legal claro
                y eficaz, adaptado a sus necesidades. Ya sea que necesite
                resolver una consulta puntual o un acompañamiento legal
                continuo, estamos aquí para ayudarle con la máxima discreción y
                profesionalidad.
            </p>
            <br />
            <Button type="normal">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-scale"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M7 20l10 0"></path><path d="M6 6l6 -1l6 1"
                    ></path><path d="M12 3l0 17"></path><path
                        d="M9 12l-3 -6l-3 6a3 3 0 0 0 6 0"></path><path
                        d="M21 12l-3 -6l-3 6a3 3 0 0 0 6 0"></path></svg
                >
                <a href="/nosotros">Ver más</a>
            </Button>
        </div>
    </div>
    <Image
        class="w-1/2 object-cover transition-all opacity-0 translate-x-20 duration-1000 ease fadeInLeftOnScroll"
        src={Ficheros}
        alt="Pluma estilográfica"
    />
</div>
