<div
    class="px-10 relative flex flex-col z-10 lg:px-56 py-10 text-center text-main-gold bg-blue-100 justify-center gap-8 items-center shadow-[0_0_20px_10px_rgba(0,0,0,.7)] opacity-0 transition-all ease duration-1000 fadeInOnScroll">
    <div>
        <h2 class="text-5xl text-main-gold">¿Por qué elegirnos?</h2>
    </div>
    <div class="flex gap-8 max-md:flex-col overflow-hidden">
        <div class="flex flex-col items-center gap-3">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-check"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M5 12l5 5l10 -10"></path></svg
            >
            <h3 class="text-3xl text-main-gold">Seriedad</h3>
            <p class="text-xl max-w-4xl font-medium">
                Nos tomamos cada caso con el máximo rigor y profesionalismo,
                garantizando un servicio legal basado en la transparencia y la
                responsabilidad.
            </p>
        </div>
        <div class="flex flex-col items-center gap-3">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-check"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M5 12l5 5l10 -10"></path></svg
            >
            <h3 class="text-3xl text-main-gold">Asesoramiento Personalizado</h3>
            <p class="text-xl max-w-4xl font-medium">
                Analizamos cada situación de manera individual, ofreciendo
                soluciones adaptadas a sus necesidades y buscando siempre la
                mejor estrategia para su caso.
            </p>
        </div>
        <div class="flex flex-col items-center gap-3">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-check"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M5 12l5 5l10 -10"></path></svg
            >
            <h3 class="text-3xl text-main-gold">Autenticidad</h3>
            <p class="text-xl max-w-4xl font-medium">
                Actuamos con honestidad y compromiso, defendiendo sus intereses
                con total lealtad y aplicando nuestra experiencia para encontrar
                la mejor resolución legal.
            </p>
        </div>
        <div class="flex flex-col items-center gap-3">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-check"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M5 12l5 5l10 -10"></path></svg
            >
            <h3 class="text-3xl text-main-gold">Compromiso con la Calidad</h3>
            <p class="text-xl max-w-4xl font-medium">
                Nos esforzamos por brindar un servicio de excelencia,
                manteniéndonos en constante actualización para ofrecerle el
                mejor asesoramiento jurídico.
            </p>
        </div>
    </div>
</div>
