---
import Balanza from "../components/Balanza.astro";
---

<div
    class="max-lg:px-8 py-8 gap-10 min-h-52 bg-blue-100 flex justify-center items-center shadow-[0_0_20px_10px_rgba(0,0,0,.7)] opacity-0 transition-all ease duration-1000 fadeInOnScroll">
    <Balanza />
    <p
        class="z-10 text-xl text-main-gold font-medium md:w-3/5 w-full text-center">
        Bienvenido a Abogados RCG, donde su tranquilidad legal es nuestra
        prioridad. Ofrecemos asesoramiento jurídico especializado en diversas
        áreas del derecho, brindándole soluciones claras y efectivas. Nuestro
        compromiso es garantizar un servicio profesional y cercano, siempre
        enfocado en defender sus derechos con la máxima confianza y discreción.
    </p>
</div>
