---
import Button from "./Button";
---

<div
    class="max-lg:px-8 relative z-10 py-10 text-center text-main-gold bg-blue-100 flex flex-col justify-center gap-4 items-center shadow-[0_0_20px_10px_rgba(0,0,0,.7)] opacity-0 transition-all ease duration-1000 fadeInOnScroll">
    <h2 class="text-5xl">Agende su Consulta Jurídica</h2>
    <p class="text-xl max-w-4xl font-medium">
        No espere más para recibir la asesoría que necesita. Para agendar su
        cita o hacer una consulta, simplemente contáctenos por teléfono al 956
        38 34 84. Nuestro bufete está disponible de lunes a viernes, de 10:00 a
        13:30 y 17:00 a 20:00, con abogados siempre listos para ofrecerle el
        mejor apoyo legal.
    </p>
    <Button type="highlight">
        <a href="/contacto">CONSÚLTENOS</a>
    </Button>
</div>
